html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

//.wrap {
//  max-width: 1200px;
//}

p {
  line-height: $base__line-height;
}

a {
  color: $base__link-color;
  @include transition(color, .2s, ease);
  &:hover {
    color: $base__link-color--hover;
  }
}